
*{
  /*font-size: 10px;*/
  font-family: roboto;
}



body{
  margin: 0;
  padding: 0;
  height: 100vh;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
  background: #111;
}

.btn{
  color: darkblue;
  border: none;
  margin: 10px;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  width: 85%;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: box-shadow;
}
.btn-classic{
  background: rgb(241, 117, 79);
  box-shadow: 0 0 25px rgb(241, 117, 79);
  color: darkblue;
}

.btn-classic:hover{
  font-size: 15px;
  color: white;
  background:#F4511E ;
  box-shadow: 0 0 5px #F4511E,
              0 0 25px #F4511E,
              0 0 50px #F4511E,
              0 0 100px #F4511E;
}

.btn-primary{
  background: #f47b9f;
  box-shadow: 0 0 25px #f47b9f;
}

.btn-primary:hover{
  font-size: 15px;
  background:#ed215b ;
  box-shadow: 0 0 5px #ed215b,
              0 0 25px #ed215b,
              0 0 50px #ed215b,
              0 0 100px #ed215b;
}


.btn-success{
  background: #03D29F;
  box-shadow: 0 0 25px #03D29F;
}

.btn-success:hover{
  box-shadow: 0 0 5px #03D29F,
              0 0 25px #03D29F,
              0 0 50px #03D29F,
              0 0 100px #03D29F;
}

.btn-danger{
  background: #FF7675;
  box-shadow: 0 0 25px #FF7675;
}

.btn-danger:hover{
  box-shadow: 0 0 5px #FF7675,
              0 0 25px #FF7675,
              0 0 50px #FF7675,
              0 0 100px #FF7675;
}

.btn-warning{
  background: #F0DF51;
  box-shadow: 0 0 25px #F0DF51;
}

.btn-warning:hover{
  box-shadow: 0 0 5px #F0DF51,
              0 0 25px #F0DF51,
              0 0 50px #F0DF51,
              0 0 100px #F0DF51;
}
p {
  color: white;
  position: absolute;
  bottom: 0px;
  right:75%;
  left:25%;
  text-align: center;

  
}
p a {
  color: white;
  text-align: center;

}
/* unvisited link */


/* visited link */
p a:visited {
  color: #F4511E;
}

/* mouse over link */
p a:hover {
  color: yellowgreen;
}

